* {
  box-sizing: border-box;
  /* text-align: center; */
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 18px;
  /* line-height: 150%; */
  /* color: #333; */
  background: #efeee7;
  background: url("../images/concrete-texture.png");
}
.portfolio-image{
	/* float:left; */
	/* margin:5px; */
	/* margin-left:20px; */
	/* margin-bottom: 20px; */
	/* width:20px; */
}
.image-name-container{
	clear:both;
	/* float:left; */
	display:inline;

	position: relative;
}
.image-name-position {
	position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}