/* 
header {
   display: flex;
   justify-content: space-between;
   max-width: 980px;
   margin: auto;
   padding: 10px;
   background: #333;
   border-radius: 3px 3px 0 0;
   @include forSmallScreens(700) {
      display: block;
      text-align: center;
   }
} */

/*centers everything and changes color and line height */
body { 
	/*
	Be sure to zero out the body margins and padding so the page is flush to the top of the page: 
	*/
	margin: 0;

	color: #777;
	background: #777;
	
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

/* 	 line-height: 150*/	
	font-size: 18px;

	
	width: 960px;
}
header {
	background: #ebebeb;
	/* border: 5px solid #777; */
	width: 100%;
/* 	margin-bottom: 20px;
margin-top: 20px; */
	padding-top: 9px;
	padding-bottom: 9px;

}
/* Space on top of element outside of border*/
.header-container, .main-nav,#main-bio {
	margin-top: 3px;
}
/* .main-nav {
	float: left;
	width: 100%;

border: 5px solid #777;
	background: #ebebeb;
	padding-top: 9px;
	padding-bottom: 9px;

} */

/* #main-bio  {
	float: left;
	width: 495px;

	border: 1px solid #000;
	background: #ebebeb;

} */
/* #article-one {
	float: center;
	background: red;
	width: 480px;
	margin: 0;

} */
/* .side-content  {
	float: left;
	width: 20%;

	border: 1px solid #000;
}
.main-footer  {
	float: left;
	width: 495px;

	border: 1px solid #000;
} */