* {
  box-sizing: border-box;
  text-align: center;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 18px;
  /* line-height: 150%; */
  /* color: #333; */
  background: #efeee7;
  background-image: url("/assets/images/concrete-texture.png");
}


.header-nav-container {
	background-color:#ffffff;
	width:100%;
	/* height:100%; */
	/* height:120px; */
	overflow:auto;
	margin-bottom:20px;
	border-bottom: 2px solid #dddddd;
}
.name-container {
	float:left;
	padding:0;
	width:15%;
	/* height:19px; */
		background-color:#4aaaa5;
		color:#ffffff;

	/* margin-left:50px; */
	
}
.main-nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	  padding: 30px;
	
  	  /* background: #6ea3da; */
}
.list-container {
	padding:0;
	margin:0;
	list-style-type:none;
	display:flex;
	justify-content: flex-end;

}
a{
	color:#777777;
	text-decoration: none;
}
li {
	margin:0 4px;
	font-size: 18px
}
.margin-left {
	margin-left: 10%;
}
.margin-right {
	margin-right: 10%;
}

h2 {
	color:#4aaaa5;
}
#about-me-header {
	text-align: left;
	padding-bottom:20px;
	border-bottom: 2px solid #dddddd;
}
.profile-pic {
	float:left;
	margin:15px;
}
p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	text-align: left;
	line-height: 35px;
}
.about-me-container {
	/* background-color: red; */
	width:100%;
	float:left;
	margin-bottom:2%;

}
.article-container {
	background-color:#ffffff;
	float:left;
	width:42%; /*should be 650px wide?*/
	margin-bottom:2%;
	border: 1px solid #dddddd;
	padding:0 20px;

}
.side-content {
	border: 1px solid #dddddd;

	position:absolute;/*gets position from .margin-right <aside class="side-content margin-right"> */
	right:0;
	background-color: white;
	width:15%;
	margin-bottom:2%;
	padding:0 25px;
	/* margin-left:40%; */
	/* margin-right:50%; */
	/* float:right; */
	/* width:40%; */
}
#connect-with-me-header {
	padding-bottom:20px;
	border-bottom: 2px solid #dddddd;
}
.connect-with-me {
	margin:0 4px;
    border-radius: 8px;
    
}
#image-container {
	margin:30px 0;

}
.main-footer {
	clear:both;
	background-color:#666666;
	color:white;
	padding:30px;
	border-top: 8px solid #4aaaa5;
	font-size:14px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
